/**
 * Backend Style Sheet
 * Bsexy Module
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Mladen Mijatov
 */

div.window table.list tbody tr.item_count td {
	padding-bottom: 2rem;
	border-top: 2px solid #e5e5e5;
}

table.list tbody td span.priority {
	display: inline-block;
	vertical-align: sub;
	width: 1em;
	height: 1em;
	margin-right: 0.2em;

	border: 1px solid #e5e5e5;
	line-height: 1;
}

html[dir=rtl] table.list tbody td span.priority {
	margin-right: 0;
	margin-left: 0.2em;
}

table.list td span.priority.regular {
	background-color: white;
}

table.list td span.priority.medium {
	background-color: #3495db;
}

table.list td span.priority.high {
	background-color: #f1c40f;
}

table.list tbody td.categories {
	position: relative;
}

table.list tbody td.categories ul {
	position: absolute;
	top: 100%;
	right: 0;
	opacity: 0;
	pointer-events: none;
	margin: 0;
	padding: 1em 2em;

	border: 1px solid #adadad;
	background-color: white;
	transition: all 0.3s;
	z-index: 1000;
}

table.list tbody td.categories ul li {
	white-space: nowrap;
}

table.list tbody td.categories ul:empty {
	display: none;
}

table.list tbody td.categories:hover ul {
	opacity: 1;
	pointer-events: auto;
}

div.window table.list td {
	-moz-user-select: auto;
	-webkit-user-select: auto;
	user-select: auto;

	cursor: auto;
}
