/**
 * Common Style Sheet
 * Bsexy site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

@font-face {
	font-family: 'open-sans';
	font-weight: 700;
	src: url(../images/fonts/opensanshebrew-bold-webfont.woff) format('woff');
}

@font-face {
	font-family: 'open-sans';
	font-weight: 400;
	src: url(../images/fonts/opensanshebrew-regular-webfont.woff) format('woff');
}

@color_dark_action: #ff0084;
@color_bright_action: #ff7bac;
@color_premium: #f1c40f;
@color_classic: #3495db;
@color_border: #404040;
@color_ac_blue: #3498db;
@color_background: #17181b;
@color_text: white;

@radius: 5px;
@vertical_spacing: 2em;
@logo_ratio: 1.51546723749265945556;

.action {
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	padding: 0.6em 0.5em;
	background-image:
	    linear-gradient(180deg, @color_dark_action 0%, @color_bright_action 100%);
	border-radius: @radius;
	z-index: 0;
}

.action svg {
	display: inline-block;
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	padding: 0em 0.2em;
	fill: @color_text;
}

.action:hover:before {
	opacity: 1;
}

.action:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
	    linear-gradient(180deg, @color_bright_action 0%, @color_dark_action 100%);
	opacity: 0;
	transition: all 0.3s;
	z-index: -1;
}
