/**
 * Content mobile Style Sheet
 * Bsexy site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */

article {
	box-sizing: border-box;
	padding: 0 1em;
}

section {
	padding: 1em 0.5em;
	text-align: center;
	background-image: url(../images/texture.png);
	background-repeat: repeat;
	background-position: center center;
	background-size: 180px 180px;
}

section.item_details {
	text-align: right;
}

section.category_areas {
	position: relative;

	ul#category_list {
		margin: 0;
		padding: 0;
		padding-top: 2rem;
		list-style-type: none;

		li {
			display: inline-block;
			margin: 0 0.3rem;
			margin-bottom: 1rem;
			width: calc(~'(100% - 3rem) / 2');
			border: 1px solid @color_dark_action;
			text-align: center;

			div.story_item {

				img {
					width: 100%;
					height: auto;
					display: block;
				}

				a {
					text-decoration: none;
					color: #fff;
				}

				a.read-more {
					display: block;
					padding: 0.5rem 0.5rem;
					background-image:
					linear-gradient(180deg, @color_dark_action 0%, @color_bright_action 100%);
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

section.category_areas article h2 {
	margin-bottom: 0;
}

section.category_areas h1 span {
	background-image: url(../images/massage.svg);
}

section.category_areas p {
	font-size: 0.9em;
}

section.footer_commercial h2,
section > h1 {
	text-align: center;
	margin: 0;
	padding: 0.5em 0em;
	position: relative;
	overflow: hidden;
	font-size: 1.5em;
}

section h1 svg {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 1.5em;
	height: 1.5em;
	padding: 0.2em;
	margin: 0em 0.5em;
	border: 1px solid @color_border;
}

section h1 span {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -17px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

section > a > h1 {
	color: @color_text;
	text-decoration: none;
}

section div.title {
	display: block;
	position: relative;
	text-align: center
}

section div.title a.action.show {
	display: inline-block;
	transform: translatey(-50%);
	color: @color_text;
	padding: 0.5em;
	border-radius: 0;
}

div.latest span {
	display: inline-block;
	font-size: 1.5em;
	padding: 0.5em 0em;
}

div.display {
	display: block;
	text-align: center;
	padding-bottom: 0.5em;
}

div.display span,
div.display a {
	display: inline-block;
	vertical-align: middle;
}

div.display span {
	padding: 0.8em 1em;
}

div.display a {
	text-decoration: none;
	color: @color_text;
	padding: 0em 0.5em;
	line-height: 3em;
}

div.display a svg {
	display: inline-block;
	vertical-align: middle;
	padding: 0em 0.2em;
	width: 2em;
	height: 2em;
	fill: @color_text;
	transition: all 0.3s;
}

div.display a.active svg,
div.display a:hover svg {
	fill: @color_dark_action;
}

div.intro {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: calc(~'(100vw * 0.78)');
	text-align: center;
	background-color: @color_background;
	background-image: url(../images/mobile-home-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	overflow-y: scroll;
	z-index: 1000000;
}

div.intro img.logo {
	position: absolute;
	top: 125px;
	left: 50%;
	width: 35%;
	transform: translatex(-50%);
}

div.intro a {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 1em;
	color: @color_text;
	font-weight: 700;
	font-size: 1.5em;
	border: 1px solid @color_dark_action;
}

div.intro article {
	margin: 0;
	padding: 0em 1em;
	border-top: 1px solid @color_text;
}

/**
 * Home page categories links
 */

a.category {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: @color_text;
	font-weight: 700;
	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	border: 1px solid @color_dark_action;
}

a.category img {
	display: block;
}

a.category h3.title {
	position: absolute;
	margin: 0;
	padding: 1em 0em;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-size: 1em;
	background-color: fade(@color_background, 80%);
}

/**
 * Area menu
 */

div.area_menu a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em;
	color: @color_text;
	border-radius: 0;
	background-image: none;
	background-color: @color_border;
}

/**
 * Item
 */
div.category_items.gallery {
	padding: 0em 0.5em;
}

div.category_items br {
	display: none;
}

div.item {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin-right: 0.2em;
	margin-left: 0.2em;
	margin-bottom: 0.4em;
	border: 1px solid @color_text;
	width: 150px;
	height: 300px;
	overflow: hidden;

	position: relative;

	figure {
		margin: 0;
	}

	a.image {
		color: @color_text;
	}
}

div.latest div.item {
	background-color: @color_border;
	border-color: @color_dark_action;
}

div.category_items.gallery div.item {
	display: block;
	width: 100%;
}

div.item[data-priority^="1"] {
	border-color: @color_ac_blue;
	background-color: fade(@color_ac_blue, 20%);
}

div.item[data-priority^="2"] {
	border-color: @color_premium;
	background-color: fade(@color_premium, 20%);
}

div.item a.image {
	display: block;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

div.item a.image > h2,
div.item a.image > p,
div.item a.image > h5 {
	text-decoration: none;
	color: #fff;
	text-align: right;
}

div.category_items.gallery div.item {
	height: 200px;

	a.image {
		height: 100%;
	}

	figure {
		margin: 0;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		img {
			flex: 0 0 40%;
		}

		figcaption {
			flex: 0 0 60%;
			color: @color_text;

			div.description {
				width: auto;
			}
		}

	}

	a.phone {
		width: 40%;
		right: 50%;
		left: 1rem;
		bottom: 1rem;
	}
}

div.category_items.gallery div.item a.image {
	display: inline-block;
	vertical-align: top;
}

div.latest div.item a.image {
	height: 100px;
}

div.item div.description {
	position: relative;
}

div.latest div.item div.description {
	height: 100px;
}

div.category_items.gallery div.item div.description {
	display: inline-block;
	vertical-align: top;
	width: calc(~'(100% - 150px)');
}

div.category_items a.show {
	box-sizing: border-box;
	margin-top: 0.3em;
	padding: 0.7em 0em;
	color: @color_text;
	border-radius: 0;
	text-align: center;
	font-weight: 700;
	width: 50%;
}

div.item h2 {
	margin: 0;
	padding: 0.2em 0.2em;
	font-size: 1em;
}

div.item p {
	margin: 0;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

div.item a.phone {
	position: absolute;
	text-align: center;
	text-decoration: none;
	bottom: 0;
	left: 0;
	right: 0;
	color: @color_text;
	font-weight: 700;
	white-space: nowrap;
	border-radius: 0;
}

div.item a.phone svg {
	display: inline-block;
	vertical-align: middle;
	width: 1.3em;
	height: 1.3em;
	padding: 0em 0.2em;
	fill: @color_text;
}

/**
 * Item details
 */
div.information,
div.item_gallery {
	display: block;
	box-sizing: border-box;
	padding: 0em 0.5em;
}

div.information div.property {
	display: block;
	box-sizing: border-box;
	padding: 0.5em 0em;
	border-bottom: 1px solid @color_dark_action;
}

div.information p,
div.information div.property span {
	font-size: 1em;
}

div.information p {
	margin-bottom: 0;
	padding: 0em 0em 1em 0em;
}

div.information a.phone {
	display: block;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: 1em;
	text-align: center;
	padding: 0.5em 0.5em;
	color: @color_text;
	font-size: 1.1em;
}

div.information img.note {
	display: block;
	margin-bottom: 0.5em;
}

div.item_gallery div.main_image {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 350px;
}

div.item_gallery div.main_image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 0.3s;
}

div.item_gallery div.main_image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	height: 100%;
}

div.item_gallery div.main_image img.visible {
	opacity: 1;
	visibility: visible;
}

div.item_gallery div.thumbnails {
	padding: 1em 0em;
	text-align: center;
}

div.item_gallery div.thumbnails img {
	display: inline-block;
	vertical-align: top;
	margin: 0em 0.1em;
	padding: 0.2em;
	border: 1px solid @color_border;
	cursor: pointer;
	transition: all 0.3s;
}

div.item_gallery div.thumbnails img.active,
div.item_gallery div.thumbnails img:hover {
	border-color: @color_dark_action;
}

div.item_categories a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-weight: 700;
	color: @color_text;
	transition: all 0.3s;
}

div.item_categories a:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin: 0 0.5em;
	background-color: @color_dark_action;
	border-radius: 50%;
	line-height: 100%;
}

div.article_holder {
	padding: 0rem 0.5rem;
}

/**
 * Banners
 */
div.commercial {
	display: block;
	position: relative;
	padding: 1em 1em;
}

a.link,
div.commercial a.link {
	display: block;
	margin: 0.2em 0em;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	width: 310px;
	height: calc(~'(310px * (200 / 590))');
}

section.footer_commercial a,
section.category_areas a.link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.4em;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	width: 310px;
	height: calc(~'(310px * (200 / 380))');
}

section.footer_commercial a {
	display: inline-block;
	text-decoration: none;
	color: @color_text;
	margin: 0em 0.1em;
	width: 100px;
	height: 100px;
	position: relative;
	border: 1px solid @color_text;
}

section.footer_commercial a:before {
	content: attr(title);
	position: absolute;
	padding: 0.5em;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@color_background, 90%);
}

div.commercial a.link {
	margin-bottom: 0.5em;
}

div.commercial a.link:last-of-type {
	margin-bottom: 0;
}

/**
 * Areas menu
 */
nav#areas {
	display: block;
	padding: 0.5em 0em;
	text-align: center;
}

nav#areas ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#areas > ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

nav#areas > ul > li > label {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 1em 1em;
	font-weight: 700;
	font-size: 1em;
	color: @color_text;
	position: relative;
}

nav#areas > ul > li > label:before {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	margin-left: 5px;
	border: 7px solid transparent;
	border-top-color: #fff;
	line-height: 0;
	font-size: 0;
	transform: translateY(5%) rotate(90deg);
}

nav#areas > ul > li input {
	display: none;
}

nav#areas > ul > li input:checked + label:before {
	transform: translateY(35%) rotate(0deg);
	border-top-color: @color_dark_action;
}

nav#areas > ul > li > label span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -9px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

nav#areas > ul > li > input:checked ~ ul {
	display: block;
}

nav#areas ul li ul {
	display: none;
	margin-left: auto;
	margin-right: auto;
	z-index: 1000;
	background-color: @color_background;
	border: 1px solid @color_dark_action;
	width: 95%;
}

nav#areas ul li ul li {
	display: block;
}

nav#areas ul li ul li a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: @color_text;
	transition: all 0.3s;
	font-size: 0.8em;
}

nav#areas ul li ul li a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -7px;
	background-size: 2.4em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

/**
 * Read more integration
 */
div.category-description {
	margin-bottom: 2em;
}

.has-read-more {
	position: relative;
	overflow: hidden;
	max-height: 5em;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 2em;

		opacity: 1;
		background-image: linear-gradient(180deg, fade(@color_background, 0), @color_background);
		pointer-events: auto;

		transition: opacity 0.4s;
	}
}

.has-read-more.active {
	max-height: 15em;
	padding-bottom: 2em;

	&:before {
		opacity: 0;
		pointer-events: none;
	}
}

.has-read-more a.read-more {
	position: absolute;
	width: 2em;
	height: 2em;
	bottom: 0;
	left: 50%;

	border: 1px solid @color_text;
	border-radius: 50%;
	background-color: @color_background;
	filter: drop-shadow(0 0 10px @color_background);

	line-height: 0;
	transform:  translateX(-50%);

	&:before {
		@size: 0.5em;

		display: block;
		content: '';
		width: 0;
		height: 0;
		position: relative;
		left: -@size;
		bottom: -@size;

		border: @size solid transparent;
		border-right-color: @color_text;
		border-top-color: @color_text;
		transform-origin: 50%;
		transform: rotate(135deg);
		transition: transform 0.4s;

		line-height: 0;
	}
}

.has-read-more.active a.read-more:before {
	transform: rotate(-45deg);
}

/**
 * Schema integration
 */
figure.publisher {
	margin: 0;
	padding: 0;
	opacity: 0.5;
}

figure.publisher img {
	@size: 50;
	width: unit(@size, px);
	height: @size / @logo_ratio;
}

/**
 *  related items
 */

 .related-items {
	 margin-top: 1rem;
	 text-align: center;
 }
