/**
 * Content Style Sheet
 * Bsexy site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic
 */
article {
	width: 1200px;
	margin: 0 auto;
}

section {
	padding: 0 calc(~'(100% - 1200px)' / 2);
}

section.footer_commercial {
	padding: 1em calc(~'(100% - 1200px)' / 2);
}

section.footer_commercial h2,
section > h1 {
	text-align: center;
	margin: 0;
	padding: 1em 0em;
	position: relative;
	overflow: hidden;
}

section > a > h1 {
	color: @color_text;
	text-decoration: none;
}

section > a.title {
	display: block;
	text-decoration: none;
	text-align: center;
	color: @color_text;
	position: relative;
}

section.footer_commercial h2 {
	margin-bottom: 0;
}

section h1 svg {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	width: 1.5em;
	height: 1.5em;
	padding: 0.2em;
	margin: 0em 0.5em;
	border: 1px solid @color_border;
}

div.item_categories a span,
section h1 span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -17px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

section > a.title:before,
section.footer_commercial h2:before,
section > h1:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0%;
	height: 1px;
	width: 30%;
	background-color: @color_border;
	transform: translatey(-50%);
	z-index: -2;
}

section > a.title:after,
section.footer_commercial h2:after,
section > h1:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0%;
	width: calc(~'(30% - 1em)');
	height: 1px;
	background-color: @color_border;
	z-index: -2;
}

section div.title a.action.show {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translatey(-50%);
	color: @color_text;
	padding: 0.5em;
	border-radius: 0;
}

html[dir="rtl"] section div.title a.action.show {
	right: auto;
	left: 0;
}

section.category_areas {
	position: relative;

	ul#category_list {
		margin: 0;
		padding: 0;
		padding-top: 2rem;
		list-style-type: none;

		li {
			display: inline-block;
			margin: 0 0.5rem;
			margin-bottom: 1rem;
			width: calc(~'(100% - 2rem) / 6');
			border: 1px solid @color_dark_action;
			text-align: center;

			div.story_item {

				img {
					width: 100%;
					height: auto;
					display: block;
				}

				a {
					text-decoration: none;
					color: #fff;
				}

				a.read-more {
					display: block;
					padding: 0.5rem 0.5rem;
					background-image:
					linear-gradient(180deg, @color_dark_action 0%, @color_bright_action 100%);
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

section.category_areas > p {
	margin-top: 0;
	font-size: 0.9em;
}

div.latest,
div.category_items {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 800px;
}

div.category_items article h2 {
	margin-bottom: 0;
}

div.category_items article p {
	font-size: 0.9em;
}

section#search div.category_items {
	width: 1200px;
}

div.latest {
	width: 380px;
	margin-left: 20px;
	margin-top: -50px;
}

html[dir="rtl"] div.latest {
	margin-right: 20px;
	margin-left: 0;
}

div.latest div.title {
	display: block;
	text-align: center;
	height: 50px;
	position: relative;
	width: auto;
}

div.latest div.title:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

div.latest div.title span {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

div.intro {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px calc(~'(100% - 960px)' / 2);
	padding-top: calc(100vw * 0.33);
	text-align: center;
	background-color: @color_background;
	background-image: url(../images/main-header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100% auto;
	overflow-y: scroll;
}

div.intro img.logo {
	position: absolute;
	top: 50px;
	right: calc(~'(43% - 25%)');
	width: 25%;
}

div.intro a {
	display: inline-block;
	text-decoration: none;
	margin-bottom: 1em;
	color: @color_text;
	font-weight: 700;
	font-size: 2em;
	border: 1px solid @color_dark_action;
}

div.intro article {
	margin: 0;
	padding: 1em 0em;
	border-top: 1px solid @color_text;
}

/**
 * Area menu
 */

div.area_menu a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em;
	color: @color_text;
	border-radius: 0;
	background-image: none;
	background-color: @color_border;
}

/**
 * Item
 */
div.item {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 13px;
	box-sizing: border-box;
	border: 1px solid @color_text;
	width: 190px;
	position: relative;
	overflow: hidden;
}

div.category_items div.item {
	height: 413px;

	figure {
		margin: 0;
		height: 222px;
		overflow: hidden;
	}

	div.description {
		color: @color_text;
	}
}

div.category_items.gallery div.item {
	display: block;
	width: 100%;
	height: auto;
}

div.category_items.gallery br {
	display: none;
}

section#search div.category_items.gallery div.item {
	width: 800px;
}

div.latest div.item {
	width: 120px;
	height: 200px;
	margin: 0;
	margin-bottom: calc(~'(40px / 3)');
	background-color: @color_border;
	border-color: @color_dark_action;
}

div.latest div.item:nth-of-type(1n) {
	margin-right: 0;
	margin-left: 0;
}

div.latest div.item:nth-of-type(3n) {
	margin-right: calc(~'20px / 2');
	margin-left: calc(~'20px / 2');
}

div.item[data-priority^="1"] {
	border-color: @color_ac_blue;
	background-color: fade(@color_ac_blue, 20%);
}

div.item[data-priority^="2"] {
	border-color: @color_premium;
	background-color: fade(@color_premium, 20%);
}

div.item a.image {
	display: block;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

div.item a.image > h2,
div.item a.image > p,
div.item a.image > h5 {
	text-decoration: none;
	color: #fff;
	text-align: right;
}

div.category_items.gallery div.item a.image {
	display: inline-block;
	vertical-align: top;
}

div.latest div.item a.image figure {
	height: 100px;
	margin: 0;
	padding: 0;

	overflow: hidden;
}

div.item a.image img {
	display: inline-block;
	vertical-align: middle;
	transition: all 0.3s;
}

div.item a.image:hover img {
	transform: scale(1.1);
}

div.category_items.gallery div.item a.image figure {
	margin: 0;

	display: flex;
	text-align: right;
	color: @color_text;

	div.description {
		display: flex;
		flex-wrap: wrap;
		padding: 0.5rem;

		h2 {
			flex: 0 0 100%;
		}

		p {
			flex: 0 0 100%;
		}
	}
}

div.category_items.gallery div.item div {
	display: inline-block;
	vertical-align: top;
}

div.category_items a.show {
	box-sizing: border-box;
	margin-top: 0.3em;
	padding: 1em 0em;
	color: @color_text;
	border-radius: 0;
	text-align: center;
	font-weight: 700;
	width: 190px;
}

div.item h2 {
	margin: 0;
	padding: 0.5em 0.5em;
	font-size: 1.15em;
}

div.latest div.item h5 {
	margin: 0;
	padding: 0.2em 0.2em;
	font-size: 1em;
}

div.item p {
	margin: 0;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	min-height: 4em;
}

div.category_items.gallery div.item p {
	min-height: 0em;
}

div.item a.phone {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	text-decoration: none;
	color: @color_text;
	font-weight: 700;
	white-space: nowrap;
	border-radius: 0;
}

div.category_items.gallery div.item a.phone {
	position: absolute;
	padding: 0.5em 1.5em;
	left: 0.5em;
	right: auto;
	bottom: 0.5em;
}

div.item a.phone svg {
	display: inline-block;
	vertical-align: middle;
	width: 1.5em;
	height: 1.5em;
	padding: 0em 0.2em;
	fill: @color_text;
}

div.latest div.item a.phone svg {
	display: none;
}

/**
 * Item details
 */
div.information,
div.item_gallery {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 50%;
}

div.information {
	padding-right: 2em;
}

html[dir="rtl"] div.information {
	padding-right: 0em;
	padding-left: 2em;
}

div.details {
	min-height: 500px;
}

div.information div.property {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 1em 0em;
	width: 50%;
}

div.information p,
div.information div.property span {
	font-size: 1.3em;
}

div.information p {
	margin: 0;
	padding: 0em 0em 1em 0em;
}

div.information a.phone {
	padding: 0.2em 1em;
	color: @color_text;
	font-size: 1.5em;
}

div.information a.phone:first-of-type {
	margin-right: 1em;
}

html[dir="rtl"] div.information a.phone:first-of-type {
	margin-right: 0;
	margin-left: 1em;
}

div.information > img.note {
	display: block;
	margin: 0.5em 0em;
}

div.item_gallery {
	text-align: center;
}

div.item_gallery div.main_image {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 468px;
}

div.item_gallery div.main_image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 0.3s;
}

div.item_gallery div.main_image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	height: 100%;
}

div.item_gallery div.main_image img.visible {
	opacity: 1;
	visibility: visible;
}

div.item_gallery div.thumbnails {
	padding: 1em 0em;
}

div.item_gallery div.thumbnails img {
	display: inline-block;
	vertical-align: top;
	margin: 0em 0.5em;
	padding: 0.5em;
	border: 1px solid @color_border;
	cursor: pointer;
	transition: all 0.3s;
}

div.item_gallery div.thumbnails img.active,
div.item_gallery div.thumbnails img:hover {
	border-color: @color_dark_action;
}

div.item_categories a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: @color_text;
	transition: all 0.3s;
	font-size: 0.8em;
}

div.item_categories a:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	line-height: 100%;
	background-color: @color_dark_action;
	border-radius: 50%;
	margin: 0 0.5em;
}

div.item_categories a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -7px;
	background-size: 2.3em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

div.item_categories a:hover {
	border-color: @color_dark_action;
}

div.article_holder {
	display: inline-block;
	width: calc(~'(100% - 4rem) / 2');
	margin: 1rem;
	vertical-align: top;

	article {
		width: 100%;
	}
}

div.image_view {
	display: inline-block;
	width: calc(~'(100% - 4rem) / 2');
	margin: 1rem;
	position: relative;
	height: 650px;
	vertical-align: top;
}

/**
 * Banners
 */
div.commercial {
	display: block;
	position: relative;
	padding: 1em 0em;
}

section.category_areas div.commercial,
section.category div.commercial {
	padding: 0em;
}

section.category_areas div.commercial,
section.category div.commercial {
	display: inline-block;
	vertical-align: top;
	width: 380px;
	margin-left: calc(~'20px - 2px');
}

html[dir="rtl"] section.category_areas div.commercial,
html[dir="rtl"] section.category div.commercial {
	margin-left: 0;
	margin-right: calc(~'20px - 2px');
}

section.footer_commercial a,
div.commercial a.link {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: @color_text;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	border: 1px solid @color_text;
	height: 100px;
	width: 590px;
	transition: all 0.3s;
}

section.footer_commercial a {
	width: 200px;
	height: 200px;
	position: relative;
}

section.footer_commercial a:before {
	content: attr(title);
	position: absolute;
	padding: 0.5em;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@color_background, 90%);
}

section.footer_commercial a:nth-of-type(n+2) {
	margin-left: 50px;
}

html[dir="rtl"] section.footer_commercial a:nth-of-type(n+2) {
	margin-left: auto;
	margin-right: 50px;
}

section.footer_commercial a:hover,
div.commercial a.link:hover {
	border-color: @color_dark_action;
}

section.category div.commercial a.link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: calc(~'50px / 2');
	width: 380px;
	height: 250px;
}

section.category_areas div.commercial a.link {
	width: 380px;
	height: 200px;
	margin-bottom: calc(~'40px / 3');
}

div.commercial a.link:nth-of-type(2n) {
	margin-left: 20px;
	margin-right: 0;
}

html[dir="rtl"] div.commercial a.link:nth-of-type(2n) {
	margin-left: 0;
	margin-right: 20px;
}

section.category_areas div.commercial a.link:nth-of-type(2n),
section.category div.commercial a.link:nth-of-type(2n) {
	margin-left: auto;
	margin-right: auto;
}

/**
 * Areas menu
 */
nav#areas {
	display: block;
}

nav#areas ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#areas > ul > li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

nav#areas > ul > li > a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	padding: 1em 1em;
	font-weight: 700;
	font-size: 1.2em;
	color: @color_text;
	position: relative;
}

nav#areas > ul > li > a:before {
	display: inline-block;
	width: 0;
	height: 0;
	content: '';
	margin-left: 5px;
	border: 7px solid transparent;
	border-top-color: #fff;
	line-height: 0;
	font-size: 0;
	transform: translateY(5%) rotate(90deg);
	transition: all 0.3s;
	transition-delay: 0.3s;
}

nav#areas > ul > li:hover a:before {
	transform: translateY(35%) rotate(0deg);
	transition: all 0.3s;
	transition-delay: 0s;
	border-top-color: @color_dark_action;
}

nav#areas > ul > li > a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage.svg);
	background-repeat: no-repeat;
	background-position: center -11px;
	background-size: 2.5em 2.5em;
	width: 2.5em;
	height: 1.3em;
	fill: @color_text;
}

nav#areas > ul > li:hover ul {
	max-height: 700px;
	opacity: 1;
	visibility: visible;
	transition: all 0.6s;
	transition-delay: 0s;
}

nav#areas ul li ul {
	position: absolute;
	top: 100%;
	left: 0;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	background-color: @color_background;
	border: 1px solid @color_dark_action;
	width: 250px;
	transition: all 0.6s;
	transition-delay: 0.3s;
}

html[dir="rtl"] nav#areas ul li ul {
	left: auto;
	right: 0;
}

nav#areas ul li ul li {
	display: block;
}

nav#areas ul li ul li a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: @color_text;
	transition: all 0.3s;
}

nav#areas ul li ul li a span {
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/massage_regular.svg);
	background-repeat: no-repeat;
	background-position: center -9px;
	background-size: 2.2em 2.5em;
	width: 2.5em;
	height: 1.3em;
}

nav#areas ul li ul li a:hover {
	background-color: @color_dark_action;
}

#missing  {
	background-image: url(../images/404_missing_page_backgound.jpg);
	background-position: center;
	background-size: 1300px 800px;
	background-repeat: no-repeat;
	min-height: 800px;
	position: relative;
	padding: 0em calc(~'(100% - 1200px)' / 2 );
}

#missing h2 {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	background-color: fade(white, 70%);
	color: @color_background;
}

@media screen and (max-width: 700px) , screen and (max-height: 700px) {
	nav#categories a {
		padding: 0.5em;
		width: auto;
	}

	nav#categories a svg {
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.5em;
	}

	nav#categories a span {
		display: inline-block;
		vertical-align: middle;
		height: 1.6em;
		background-position: center -8.8px;
	}

	nav#categories {
		text-align: left;
	}

	html[dir=rtl] nav#categories {
		text-align: right;
	}
}

/**
 * Schema integration
 */
figure.publisher {
	margin: 0;
	padding: 0;
	opacity: 0.5;
}

figure.publisher img {
	@size: 50;
	width: unit(@size, px);
	height: @size / @logo_ratio;
}
